$white:     #fff;
$black:     #000;
$gray:      #929292;
$mountainMeadow: #1ABC9C;
$mercury:   #E3E3E3;
$mountainMeadowLink: #19BC9B;
$dustyGray: #A69999;
$facebook: 	#3b5998;
$twitter:   #00aced;
$lemonGrass: #8F8F8D;
$tundora:   #4C4C4C;
$silverChalice: #a5a5a5;
$steelBlue: #4796B7;
$mediumPurple: #9F5CD8;
$frenchRose: #F1438A;
$osloGray:   #939598;
$sepLine: 	 #ddd;
$alabaster:  #F7F7F7;
$alto:       #D2D2D2;
$amber:			 #FFC301;
$lilacBush:  #A56BD3;
$celery:     #AED066;
$matrix:     #AC5C5C;
$concrete:   #F2F2F2;
$boulder:    #777;
$texasRose:  #FDBD4F;
$swampGreen: #B8C496;
$downy:      #65BCD0;
$swansDown:  #D7F0ED;
$blackSqueeze: #E0EAF3;
$softAmber:  #D2C2B3;
$westar:     #E5E4E2;
$shark:      #252830;
$silverTree: #5EBD85;
$pinkSwan:   #c1b0b3;
$hurricane:  #8D7A7A;


a{
	text-decoration: none;
}
ul,h1,h2,h3,h4,h5,h6,input{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
input{
	border: 0;
}
